@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* THEME VARIABLES */
:root {
  --bg: #ffffff;
  --text: #1f2937;
  --accent: #4CAF50;
}

/* DARK MODE VARIABLES */
.dark {
  --bg: #09090b;
  --text: #e4e4e7;
  --accent: #f68067;
}

/* GLOBAL USE */
body {
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Poppins', sans-serif;

  transition:
    background-color 300ms ease,
    color 300ms ease;
}

/* ACCENT */
.accent-text {
  color: var(--accent);
}

::selection {
  background-color: var(--accent);
  color: white;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 2s linear 1;
}